macro_window_down: macro_window_down{
compatible = "zmk,behavior-macro";
label = "macro_window_down";
#binding-cells = <0>;
bindings = <&sk LEFT_WIN>, <&kp DOWN>;
};
macro_window_up: macro_window_up{
compatible = "zmk,behavior-macro";
label = "macro_window_up";
#binding-cells = <0>;
bindings = <&sk LEFT_WIN>, <&kp UP>;
};
macro_window_right: macro_window_right{
compatible = "zmk,behavior-macro";
label = "macro_window_right";
#binding-cells = <0>;
bindings = <&sk LEFT_WIN>, <&kp RIGHT>;
};
macro_windows_left: macro_windows_left{
compatible = "zmk,behavior-macro";
label = "macro_windows_left";
#binding-cells = <0>;
bindings = <&sk LEFT_WIN>, <&kp LEFT_ARROW>;
};